<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <localRepository>E:\Beacon-Module\Beacon\dependency\libs</localRepository>
    <profiles>
        <profile>
            <id>dependency-getter-auto</id>
            <repositories>
            
<repository>
    <id>Jitpack.io</id>
    <name>Jitpack.io</name>
    <url>https://jitpack.io/</url>
    <layout>default</layout>
</repository>

<repository>
    <id>Central</id>
    <name>Central</name>
    <url>https://repo1.maven.org/maven2/</url>
    <layout>default</layout>
</repository>

<repository>
    <id>JCenter</id>
    <name>JCenter</name>
    <url>https://jcenter.bintray.com/</url>
    <layout>default</layout>
</repository>

<repository>
    <id>Minecraft Libs</id>
    <name>Minecraft Libs</name>
    <url>https://libraries.minecraft.net/</url>
    <layout>default</layout>
</repository>

<repository>
    <id>Sponge</id>
    <name>Sponge</name>
    <url>https://repo.spongepowered.org/maven/</url>
    <layout>default</layout>
</repository>

            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>dependency-getter-auto</activeProfile>
    </activeProfiles>
</settings>